* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: 180px 1fr / 250px 1fr;
  grid-template-areas: 
  'aside header header'
  'aside main main';
  min-width: 950px;
  height: 100vh;
}

aside {
  grid-area: aside;
  padding: 20px;
  min-width: 250px;
  background-color: rgb(188, 188, 255);
  font-weight: bold;
}

#dashboard-icon {
  height: 40px;
  width: 40px;
}

.title,
.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  transition: 0.2s;
}

.menu-item:hover,
.prof-buttons > button:hover {
  transform: scale(0.95);
  background-color: rgb(141, 141, 255);
}

.menu-item:hover {
  border-radius: 25px;
}

.menu-item:active,
.prof-buttons > button:active {
  background-color: rgb(100, 100, 220);
  opacity: 0.8;
}

ul {
  margin-top: 60px;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

header {
  grid-area: header;
}

img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}

header {
  position: relative;
  padding: 25px 40px;
  box-shadow: 0px 8px 15px -8px rgba(0, 0, 0, 0.5);
}

header > nav,
.search,
.prof-nav,
.prof-options {
  display: flex;
  align-items: center;
}

.search,
.prof-nav {
  gap: 20px;
}

header > nav {
  justify-content: space-between;
}

.search {
  width: 60%;
}

.search > input {
  height: 30px;
  width: 75%;
  padding: 5px 0 5px 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(188, 188, 255);
}

.prof-nav > p {
  font-weight: 700;
}

.prof-options {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  height: 1fr;
}

.prof {
  display: flex;
  align-items: center;
  gap: 15px;
}

.prof > .profile-icon {
  height: 60px;
  width: 60px;
}

.prof-welcome > p {
  font-weight: 700;
  font-size: 14px;
}

.prof-buttons {
  display: flex;
  gap: 20px;
}

.prof-buttons > button {
  height: 35px;
  width: 75px;
  background-color: rgb(188, 188, 255);
  font-weight: 700;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.profile-icon {
  height: 40px;
  width: 40px;
}

main {
  grid-area: main;
  display: flex;
  gap: 20px;
  background-color: rgb(225, 225, 255);
  padding: 25px 15px;
}

.proj-wrapper {
  display: grid;
  grid-template: 200px 200px 200px / 47% 47%;
  gap: 25px;
}

.projects > p,
.project-div > p:first-child,
.info > p,
.announce > p:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

.project-div {
  background-color: white;
  border-left: 5px solid yellow;
  border-radius: 10px;
  padding: 25px 15px;
}

.project-div > p:nth-child(2) {
  height: 50%;
  margin-bottom: 25px;
}

.proj-options {
  display: flex;
  gap: 25px;
  float: right;
}

.proj-options > img {
  height: 20px;
  width: 20px;
  transition: 0.2s;
}

.proj-options > img:hover {
  opacity: 0.8;
}

.proj-options > img:active {
  transform: scale(0.85);
}

.announces-div,
.trend-div {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

.announce {
  padding: 15px 5px 20px;
}

.announce:not(:nth-child(3)) {
  border-bottom: 1px solid gray;
}

.trend {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.trend-profile > p:first-child {
  font-weight: 700;
  margin-bottom: 5px;
}
